// css button, title, icon, elements...
img {
    max-width: 100%;
}
.title{
    padding-bottom: 30px;
    
}
.text_cl--yellow{
    color: #b99746;
    }
.pd{
    padding-top: 400px;
    margin-top: -400px;
}
.bottom_menu{
    bottom: -120px;
}
.top_menu{
    top:13%;
}
.white{
    color: white;
}
.black{
    color: #000;
  
}
